@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
:root {
  --primary: #3A56B9;
  --secondery: #627AC6;
  --dark-blue: #2F2571;
  --spa-light-purple: #A3AFDD;
  --spa-cream: #FEFAF5;
  --spa-purple-dark: #540375;
  --spa-red: #A00074;
  --spa-pink: #E9A4B4;
  --black: #000000;
  --white-color: #fff;
}


/*
===============================
Global CSS START
===============================
*/

body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 400;
  font-size: 1.125rem;
  line-height:  1.625rem;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-out 0s;
  display: block;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--white-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
  line-height: 1.2;
}


h1 {
  font-size: 1.875rem; /* 30px */
}

h2 {
  font-size: 1.75rem; /* 28px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1.125rem; /* 18px */
}

@media screen and (min-width: 991px) {
h1 {
    font-size: 2.5rem; /* 40px */
}

h2 {
    font-size: 2.1875rem; /* 35px */
}

h3 {
    font-size: 1.75rem; /* 28px */
 }

h4 {
    font-size: 1.5rem; /* 24px */
 }

h5 {
  font-size: 1.125rem; /* 18px */

  }
}

@media screen and (min-width: 1360px) {
h1 {
    font-size: 2.875rem; /* 46px */
}

h2 {
    font-size: 2.5rem; /* 40px */
}

h3 {
    font-size: 2.125rem; /* 34px */
}

h4 {
    font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.125rem; /* 18px */
}

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
============================
Main Btn Style Start
===========================
*/

.site-btn {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 35px;
  border-radius: 40px;
  display: inline-block;
  color: var(--white-color);
  background-color: var(--spa-red);
  transition: 0.3s all ease;
}

.site-btn:hover {
  color: var(--white-color);
  background-color: var(--black);
}

/*
==========================
Main Btn Style End
==========================
*/


#page {
  overflow: hidden;
}

.section-title h2 {
  margin-bottom: 20px;
  color: var(--spa-purple-dark);
}

/*
============================
Global CSS END
============================
*/

/*
============================
Header Section Start
============================
*/

.main-header .container {
  display: flex;
  align-items: center;
}

.main-header {
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
}

.main-menu {
  margin-right: 45px;
}

.main-menu ul li {
	position: relative;
	display: inline-block;
	margin-left: 30px;
}

.main-menu ul li a {
  color: var(--black);
  font-size: 1rem;
  display: block;
  font-weight: 400;
  transition: 0.3s allm ease;
}

.main-menu ul li:hover > a {
  color: var(--spa-red);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary);
}

.main-menu, header-btn-right {
  margin-left: auto;
}

.header-btn-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-btn-right .site-btn {
	padding: 12px 32px;
  font-weight: 500;
   font-family: 'Gothic A1', sans-serif;
}

.header-btn-right .phone-btn {
  color: var(--white-color);
  background-color: var(--spa-red);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s all ease;
}

.header-btn-right .phone-btn:hover {
  color: var(--white-color);
  background-color: var(--black);
}

/*
============================
Header Section  End
============================
*/

/*
============================
Banner Section Start
============================
*/

.home.banner-wrapper {
	min-height: 750px;
}

.banner-wrapper {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: #DFDCF2;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}

.banner-shape {
  position: absolute;
  top: 8%;
  left: 5%;
}

.banner-item {
  max-width: 512px;
}

.banner-item h1 {
  color: var(--primary);
  line-height: 1.3;
  margin-bottom: 15px;
}

.banner-item p {
  margin-bottom: 20px;
}

.banner-sm-content {
  font-weight: 700;
  margin-bottom: 30px;
}
/*
============================
Banner Section End
============================
*/

/*
============================
About Section Start
============================
*/

.about-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about.about-wrapper {
	margin-top: 50px;
}

.about.banner-wrapper .banner-item {
  max-width: 544px;
}

.primary-text {
	color: var(--primary) !important;
}

.about-list li {
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	line-height: 30px;
	position: relative;
	margin-bottom: 10px;
	padding-left: 32px;
}

.about-list li:before {
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  position: absolute;
  background-image: url(assets/images/check-primary.png);
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}

.about .section-title {
	max-width: 522px;
}

.about .section-title p {
	line-height: 30px;
	margin-bottom: 15px;
}

.about-right img {
  margin-right: 50px;
  margin-left: auto;
}

.about-content {
	max-width: 550px;
}

.about-content h4 {
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;
}

.about-content span {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.about-content .site-btn {
	margin-top: 8px;
}

.our-approach {
	padding-bottom: 25px;
}

.our-focus {
	background-color: var(--spa-cream);
	padding-top: 130px;
}

.our-founder .about-content {
	max-width: 600px;
}

.our-founder .about-content h2 {
  color: var(--spa-purple-dark);
}

/*
============================
Our Team Section Start
============================
*/

.our-team-wrapper {
  background-color: var(--spa-cream);
  padding-top: 70px;
  padding-bottom: 80px;
}

.our-team-wrapper .section-title {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.team-person img {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.team-btn {
	margin-top: 30px;
}
/*
============================
Our Team Section Start
============================
*/

/*
============================
About Section End
============================
*/


/*
============================
Service Section Start
============================
*/

.service-content-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.service-content-wrapper .section-title {
  max-width: 789px;
  margin-right: auto;
  margin-left: auto;
}

.service-content-wrapper .section-title h4 {
  color: var(--primary);
  margin-bottom: 30px;
}

.service-content-wrapper .section-title p {
  margin-bottom: 20px;
}

.service.about.about-wrapper {
	background-color: var(--spa-cream);
	padding-top: 100px;
	margin-top: 0;
}

.service .section-title {
  max-width: 100%;
}




.service-testimonial-wrapper {
	background-color: #DFDCF2;
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
}

.test-shape {
  position: absolute;
}

.test-shape.shape-1 {
  left: 16%;
  bottom: 0;
}

.test-shape.shape-2 {
  right: 18%;
  top: 4%;
}

.testimonial-text span {
  color: var(--spa-purple-dark);
  font-size: 24px;
  font-style: italic;
  line-height: 1.6;
}

.testimonial-text {
	max-width: 695px;
	margin-right: auto;
	margin-left: auto;
	z-index: 9;
	position: relative;
}

.testimonial-text p {
  margin-top: 10px;
  font-size: 20px;
  color: var(--spa-purple-dark);
}

/*
============================
Service Section End
============================
*/

/*
============================
Our Team Section Start
============================
*/

.team .banner-item {
	max-width: 100%;
}

.team.banner-wrapper {
	display: block;
}
.banner-shape {
	position: absolute;
	top: 17%;
	left: 5%;
}
.team .banner-item {
  margin-top: 62px;
}

.team-image {
  position: relative;
  margin-top: -28%;
}

.team-box-wrapper {
  padding-top: 80px;
  padding-bottom: 60px;
}

.single-team-box {
  max-width: 200px;
  text-align: center;
  margin-bottom: 20px;
}

.team-thumb {
 margin-top: 15px;
}

.team-thumb h5 {
  font-weight: 600;
}

.team-thumb span {
  font-size: 18px;
}
/*
============================
Our Team Section End
============================
*/


/*
============================
Spa Offers Section Start
============================
*/

.spa-offers-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: var(--spa-cream);
}

.spa-offers-box {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px 0px rgba(221,221,221,0.75);
  text-align: center;
  padding: 18px 25px 35px 25px;
  margin-bottom: 30px;
}

.spa-offers-icon img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.spa-offers-box p {
  line-height: 30px;
}
/*
============================
Spa Offers Section End
============================
*/



/*
============================
Personalize Section Start
============================
*/

.personalize-matching-wrapper .section-title {
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

.personalize-matching-wrapper .section-title h2 {
  color: var(--white-color);
}

.personalize-matching-wrapper .section-title p {
  color: var(--white-color);
}

.personalize-matching-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(assets/images/personalize-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--spa-purple-dark);
}

.personalize-box-wrap {
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.count-circle-box {
  padding: 25px;
  height: 302px;
  width: 302px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--spa-pink);
  overflow: hidden;
}

.count-circle-box:nth-child(2) {
  background-color: var(--spa-light-purple);
}

.count-circle-box:nth-child(3) {
  background-color: var(--primary);
}

.count-content {
	width: 100%;
	height: 100%;
	padding: 35px;
	border-radius: 50%;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
  overflow: hidden;
}

.count-content h2, .count-content h4 {
  color: var(--spa-red);
  font-weight: 600;
}

.count-content h4 {
	font-size: 22px;
}

.count-content p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.appointment-btn {
  text-align: center;
}

.appointment-btn .site-btn {
  background: transparent;
  border: 1px solid var(--white-color);
}

.appointment-btn:hover .site-btn {
  background-color: var(--spa-red);
}

/*
============================
Personalize Section End
============================
*/

/*
============================
Ourselves Section Start
============================
*/

.ourselves-wrapper {
  display: flex;
  align-items: center;
  height: 460px;
  position: relative;
  background-color: var(--dark-blue);
}

 .ourselves-wrapper:after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(assets/images/room-image.jpg);
  background-size: cover;
  background-position: center;
} 

.ourselves-shape {
  position: absolute;
  top: 0;
}

.ourselves-content {
	max-width: 400px;
	z-index: 2;
	position: relative;
}

.ourselves-content span {
  color: var(--white-color);
  font-size: 24px;
  font-style: italic;
  line-height: 1.6;
}

.ourselves-content p {
  color: var(--white-color);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
/*
============================
Ourselves Section End
============================
*/


/*
============================
Our Service Section Start
============================
*/
.our-service-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--spa-cream);
  position: relative;
}

.service-shape {
  position: absolute;
}

.service-shape.shape-1 {
  left: 0;
  top: 42%;
  width: 15%;
}

.service-shape.shape-2 {
  right: 0;
  top: 0;
  width: 14%;
}

.our-service-wrapper .section-title h2 {
	color: var(--spa-red);
	margin-bottom: 80px;
}

.service-box {
	text-align: center;
	max-width: 290px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.service-icon img {
  margin: 0 auto;
}

.service-content h5 {
	font-size: 20px;
	margin-top: 8px;
	margin-bottom: 15px;
  color: var(--spa-purple-dark);
}

.read-more-btn span {
	padding-left: 5px;
}

.service-content p {
  margin-bottom: 10px;
}

.read-more-btn {
  color: var(--spa-purple-dark);
  font-size: 15px;
}

.read-more-btn:hover {
	color: var(--black);
}

.service-list-wrapper {
  padding-top: 80px;
  padding-bottom: 60px;
}

.list-title {
  color: var(--primary);
  margin-bottom: 20px;
}

.list-wrap ul li {
	margin-bottom: 6px;
	margin-right: 20px;
}

/*
=============================
Our Service Section Start
============================-
*/


/*
============================
Our Articles Blog Section 
============================
*/

.our-articles-blog-wrapper {
  padding-top: 80px;
  padding-bottom: 60px;
}

.section-title h3 {
  color: var(--primary);
  margin-bottom: 40px;
}

.section-title h3 span {
	font-weight: 600;
}

.articles-blog-box {
	background-color: var(--white-color);
	box-shadow: 0px 0px 40px -2px rgba(221,221,221,0.75);
	margin-bottom: 30px;
  transition: 0.3s all ease;
}

.articles-blog-box:hover {
	box-shadow: 0px 0px 20px 8px rgba(221,221,221,0.75);
}

.articles-image {
  overflow: hidden;
}

.articles-image img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
}

.articles-image:hover img {
  transform: scale(1.2);
}

.articles-content {
	padding: 20px 0 20px 25px;
}

.articles-content h5 {
  line-height: 1.5;
}

.articles-content h5 a:hover {
  color: var(--spa-purple-dark);
}

.articles-content .author {
  display: block;
  margin-bottom: 15px;
  margin-top: 35px;
}

.our-articles-blog-wrapper .site-btn {
	margin-top: 15px;
}

/*
============================
Our Articles Blog End
============================
*/


/*
===============================
Our Locations Section Start
===============================
*/

.our-locations-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--spa-cream);
}

.our-locations-wrapper .section-title h2 {
  color: var(--primary);
  margin-bottom: 60px;
}

.locations-box {
  text-align: center;
  display: block;
}

.addres-home img {
  width: 100%;
}

.locations-box h4 {
  color: var(--dark-blue);
  margin-top: 30px;
}

.locations-box h4:hover a {
  color: var(--primary);
}


/*
===============================
Our Locations Section End
===============================
*/


/*
============================
Footer Section Start
============================
*/

.footer-wrapper {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #2F0242;
}

.footer-widget {
	display: flex;
	gap: 50px;
	margin-top: 35px;
}

.footer-logo {
	margin-top: -50px;
}

.footer-subtitle {
	color: var(--white-color);
	margin-bottom: 10px;
	line-height: 28px;
	font-size: 17px;
}

.footer-info p a {
	color: var(--white-color);
	font-size: 16px;
}

.contact-number {
  text-decoration: underline;
}

.footer-list {
  margin-left: auto;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-list li a {
  color: var(--white-color);
  font-size: 16px;
}

/*
============================
Footer Section End
============================
*/



/*
============================
Responsive Style Start
============================
*/

@media screen and (min-width: 1360px) {

.container{
   max-width: 1320px;
}

}
/* -----Laptop--device-screen--------- */
@media only screen and (max-width:1199px) {

body {
  font-size: 1rem;
}

.header-btn-right .phone-btn {
  display: none;
}

.main-menu {
	margin-right: 30px;
}

.main-menu ul li {
	margin-left: 15px;
}

.banner-wrapper {
  background-position: center;
}

.ourselves-banner {
	width: 50%;
	height: 100%;
}

.team.banner-wrapper {
	min-height: 400px;
}


.footer-widget {
	gap: 30px;
}

}
/* -----Tablet--device-screen--------- */
@media only screen and (max-width:991px) {

.hamburger {
  display: block;
}
  
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
  
}
  
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  
}
  
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
  
.main-menu ul {
  position: absolute;
  left: -100%;
  top: 100%;
  width: 100%;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  transition: 0.3s all ease;
  padding: 50px 0;
}
  
.main-menu ul.active {
  left: 0;
}
  
.main-menu ul li {
   margin: 12px 0;
}
  
.main-menu ul li a {
  color: var(--white-color);
  font-size: 14px;
  transition: 0.3s all ease;
}

.main-menu ul li a:hover {
  color: var(--spa-pink);
}

.home.banner-wrapper {
	min-height: 620px;
}

.about.about-wrapper {
	margin-top: 0;
}

.about-list li {
	font-size: 1rem;
}

.about-right {
	margin-top: 25px;
}

.personalize-box-wrap {
	flex-wrap: wrap;
}

.personalize-box-wrap .count-circle-box:last-child {
  margin-top: -43px;
}

.count-content h2, .count-content h4 {
	margin: 0;
}

.count-circle-box {
	padding: 25px;
	height: 290px;
	width: 290px;
}

.count-content p {
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
}

.ourselves-content {
	max-width: 330px;
	z-index: 2;
	position: relative;
}

.ourselves-content span {
	font-size: 20px;
	line-height: 1.5;
}

.ourselves-wrapper {
	height: 450px;
}

.ourselves-content p {
	font-size: 16px;
}

.our-service-wrapper {
	padding-top: 55px;
	padding-bottom: 55px;
}

.our-service-wrapper .section-title h2 {
	margin-bottom: 50px;
}

.service-box {
	margin-bottom: 30px;
}

.service.shape-1 {
	top: 64%;
}

.our-locations-wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--spa-cream);
}

.test-shape.shape-2 {
	right: 0;
	top: 4%;
}

.test-shape.shape-1 {
	left: 0;
}

.team.banner-wrapper {
	min-height: 325px;
}

.team .banner-shape {
	position: absolute;
	top: 17%;
	left: 5%;
	width: 35%;
}

.footer-widget {
	justify-content: space-between;
}

.footer-list {
	margin-left: 0;
}

}
/* -----Mobile--device-screen--------- */
@media only screen and (max-width:767px) {

.banner-wrapper {
  min-height: 305px;
}

.header-btn-right {
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;
}

.banner-shape {
	display: none;
}

br {
	display: none;
}

.about-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.personalize-box-wrap {
	margin: 25px auto;
}

.personalize-box-wrap .count-circle-box:last-child {
	margin-top: 0;
}

.count-circle-box {
	padding: 25px;
	height: 280px;
	width: 280px;
}

.ourselves-wrapper {
	height: 400px;
}
.ourselves-wrapper::after {
	width: 100%;
	height: 50%;
	bottom: 0;
}

.ourselves-wrapper {
	align-items: start;
	padding-top: 40px;
}

.ourselves-content span {
	font-size: 18px;
}

.service.about.about-wrapper {
	padding-top: 50px;
}

.service-shape {
	display: none;
}

.articles-content .author {
	margin-top: 20px;
}

.our-locations-wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
}

.locations-box h4 {
	color: var(--dark-blue);
	margin-top: 20px;
}

.our-locations-wrapper {
	padding-bottom: 20px;
}

.our-locations-wrapper .section-title h2 {
	margin-bottom: 30px;
}

.locations-box {
	margin-bottom: 20px;
}

.test-shape {
	position: absolute;
	display: none;
}

.testimonial-text span {
	font-size: 18px;
	line-height: 1.5;
}

.testimonial-text p {
	font-size: 16px;
}

.service-list-wrapper {
	padding-top: 60px;
}

.list-title {
	color: var(--primary);
	margin-bottom: 12px;
}

.team.banner-wrapper {
	min-height: 250px;
}

.single-team-box {
	max-width: 100%;
	margin-bottom: 15px;
}

.single-team-image img {
	margin: 0 auto;
}

.spa-offers-wrapper {
	padding-top: 40px;
	padding-bottom: 30px;
}

.footer-wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-widget {
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-logo {
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
}

}
/*
============================
Responsive Style End
============================
*/